@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    background-color: #fff;
    
}
.nav-bar-section {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
}
.logo {
    transition: ease-in-out 0.5s;
}

.logo img:hover{
    cursor: pointer;
    height: 22px;
}

.nav-bar-section-link-page {
    display: flex;
    gap: 50px;
}

.nav-bar-section-link-page a {
    text-decoration: none;
    color: #000;
    font-weight: 700px;
    font-size: 16px;
    transition: transform 0.3s ease ;
}

.nav-bar-section-link-page a:hover {
    font-weight: bold;
}

.nav-bar-section-social-icons  {
    display: flex;
    gap: 20px;
    transition: transform 0.3s ease, height 0.3s ease, width 0.3s ease;
}

.nav-bar-section-social-icons img:hover {
    cursor: pointer;
    transform: scale(1.2) translateY(-5px); /* Scale up and move slightly upwards */
    height: 24px; /* Increase size */
    width: 24px; /* Increase size */
}
.nav-bar-seperator {
    border: 0.5px solid rgb(218, 218, 218);
    margin: 0;
}

.nav-bar-section .hamburger-menu{
    display:none;
    
}
.nav-bar-section .hamburger-menu:hover {
    cursor: pointer;
}

.side-bar-responsive {
    display:none
}

/* Mobile phone and tablet sidebar */
@media  (max-width: 1024px) {
    .nav-bar-section .nav-bar-section-link-page {
        display: none;
    }

    .nav-bar-section .nav-bar-section-social-icons {
        display: none;
    }

    .nav-bar-section .hamburger-menu {
        display: flex;
    }

    .side-bar-responsive {
        position: fixed;
        top: 0;
        right: -500px; /* Hidden by default */
        width: 250px;
        height: 100%;
        background-color: #fff;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 20px;
        transition: right 0.5s ease-in-out; /* Smooth slide-in effect */
        z-index: 1000;
        padding: 20px;
        box-sizing: border-box;
    }
    
    .side-bar-responsive .nav-bar-section-link-page {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        margin-bottom: 15px;
        font-size: 18px;
        color: #333;
    }
    
    .side-bar-responsive a:hover {
        font-weight: bold;
    }

    .side-bar-responsive .nav-bar-section-social-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    /* Show Sidebar (Toggle Class) */
    .side-bar-responsive.active {
        right: 0; /* Slide into view */
    }
}

.main-recipe-section {
    height:900px;
    margin: 100px 50px;
    display: flex;
    gap: 20px;
    position: relative;
}

.main-recipe-section .left-section {
    /* background-color: antiquewhite; */
    width: 80%;
    height:900px;
    padding: 30px;
    box-sizing: border-box;

}

.main-recipe-section .left-section > h1 {
    font-size: 3rem;
}

.main-recipe-section .left-section .chef-details {
    max-width: 600px;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
}

.main-recipe-section .left-section .chef-details > .content {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content:center;
}
.main-recipe-section .left-section .chef-details > .content > .wrapper {
    line-height: 10px;
}
.main-recipe-section .left-section .chef-details > .content > .wrapper > .title {
    font-weight: 600;
    font-size: 1rem;
}

.main-recipe-section .left-section .chef-details > .content > .wrapper > .sub-title {
    font-size: .8rem;
    color: #b8b8b8;
}

.main-recipe-section .left-section .vertical-line {
    width: 1px;
    height: 30px;
    background-color: #cacaca;
}

.main-recipe-section .left-section .image-container > img {
    margin-top: 40px;
    width: 90%;
    height: auto;
    max-height:600px;
    border-radius: 30px;
}

.main-recipe-section  .right-section {
    background-color: aqua;
    width: 50%;
    height:900px;
}



/* for tablet size*/
@media (min-width: 768px) and (max-width: 1024px) {
    .main-recipe-section > .left-section > h1 {
        font-size: 2.5rem;
    }
    .main-recipe-section {
        display: flex;
        flex-direction: column;
    }
    .main-recipe-section .left-section .chef-details > .content > .wrapper {
        line-height: 5px;
    }
    .main-recipe-section .left-section .chef-details > .content > .wrapper > .title {
        font-weight: 600;
        font-size: 0.8rem;
    }
    
    .main-recipe-section .left-section .chef-details > .content > .wrapper > .sub-title {
        font-size: 0.6rem;
        color: #b8b8b8;
    }
}


/* for mobile phone*/
@media  (max-width: 767px) {
    .main-recipe-section > .left-section > h1 {
        font-size: 1.5rem;
    }

    .main-recipe-section {
        display: flex;
        flex-direction: column;
    }
    
}


